@import "./components/index.less";

body {
  letter-spacing: 0.01rem;
  height: auto !important;
  min-height: 100vh;

  overflow: initial !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// #root {
//   overflow: initial !important;
//   -ms-overflow-style: none !important;
//   scrollbar-width: none !important;

//   &::-webkit-scrollbar {
//     display: none !important;
//     width: 0 !important;
//   }
// }
